@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 768px;
  min-width: 375px;
  margin: auto;
}
@media (min-width: 769px) {
  body {
    max-width: 100%;
  }
}

main {
  margin: 5%;
}
@media screen and (min-width: 769px) {
  main {
    margin: 0 100px;
  }
}

.redFont {
  color: #ff6060;
}

.fiche-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.bl-msk {
  background: rgba(0, 0, 0, 0.3);
  mix-blend-mode: darken;
  border-radius: 25px;
}

.wh-msk {
  background: #f7f7f7;
  border-radius: 10px;
}
@media screen and (min-width: 769px) {
  .wh-msk {
    border-radius: 25px;
  }
}

.aboutBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3) url(../../assets/images/mobile-about-background.png);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 223px;
  margin-top: 20px;
  border-radius: 10px;
}
@media screen and (min-width: 769px) {
  .aboutBackground {
    background: rgba(0, 0, 0, 0.3) url(../../assets/images/about-background.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
  }
}

.banner-container {
  height: 111px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.3) url(../../assets/images/background-banner.png);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}
@media screen and (min-width: 769px) {
  .banner-container {
    height: 223px;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.3) url(../../assets/images/background-banner.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
  }
}

.banner-text {
  position: absolute;
  top: 28.04%;
  left: 5.6%;
  right: 32.53%;
  bottom: 80.05%;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  color: #FFFFFF;
  border-radius: 10px;
  width: 217px;
  height: 48px;
}
@media screen and (min-width: 769px) {
  .banner-text {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    border-radius: 25px;
  }
}

.card-logement {
  position: relative;
  display: flex;
  width: 335px;
  height: 255px;
  border-radius: 10px;
  min-width: 335px;
  transition: transform 1s;
}
@media screen and (min-width: 769px) {
  .card-logement {
    width: 340px;
    height: 340px;
  }
  .card-logement:hover, .card-logement:focus {
    box-shadow: rgba(255, 96, 96, 0.9) 0 0 22px 6px;
  }
}
.card-logement img {
  display: flex;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-logement__layer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card-logement__title {
  display: flex;
  align-items: flex-end;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  color: #f1f1f1;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
}

.cards-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  border-radius: 10px;
  margin: 22px 0;
  flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
  .cards-container {
    gap: 50px;
    padding: 5% 1%;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin: 43px 0;
  }
}

.link_card_logement {
  text-decoration: none;
}

#carrousel-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 255px;
  margin: 2% 0;
  overflow: hidden;
}
@media screen and (min-width: 769px) {
  #carrousel-container {
    height: 415px;
  }
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 10px;
  opacity: 0;
  transition: opacity ease-in-out 0.6s;
}
@media screen and (min-width: 769px) {
  .slider {
    border-radius: 25px;
  }
}
.slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  mix-blend-mode: normal;
  border-radius: 10px;
}
@media screen and (min-width: 769px) {
  .slider img {
    border-radius: 25px;
  }
}
.slider__number {
  display: none;
}
@media screen and (min-width: 769px) {
  .slider__number {
    display: block;
    position: absolute;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    color: #FFFFFF;
    left: 48%;
    top: 86%;
  }
}

.active-anim {
  opacity: 1;
}

.rightArrow {
  display: flex;
  position: absolute;
  top: 47%;
  right: 2%;
  width: 12px;
  height: 20px;
  z-index: 10;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .rightArrow {
    width: 47px;
    height: 79px;
    top: 42%;
  }
}

.leftArrow {
  display: flex;
  position: absolute;
  top: 47%;
  left: 2%;
  width: 12px;
  height: 20px;
  z-index: 10;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .leftArrow {
    width: 47px;
    height: 79px;
    top: 42%;
  }
}

.collapse {
  width: 100%;
  margin: 20px 0;
}
@media screen and (min-width: 769px) {
  .collapse {
    margin: 31px auto 0;
  }
}
.collapse__visible {
  background: #ff6060;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 7px 15px;
  border-radius: 5px;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .collapse__visible {
    height: 47px;
  }
}
.collapse__visible h2 {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
@media screen and (min-width: 769px) {
  .collapse__visible h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
}
.collapse__toggle {
  opacity: 0;
  color: #ff6060;
  background: #f7f7f7;
  border-radius: 5px;
  transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;
}
.collapse__toggle p {
  margin: 0;
  padding: 22px 15px;
  pointer-events: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
}
@media screen and (min-width: 769px) {
  .collapse__toggle p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
  }
}

.animated {
  opacity: 1;
  transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out;
}

.chevron {
  width: 9px;
  transform: rotate(0deg);
  transition: 0.4s 0.4s ease-in-out;
}
@media screen and (min-width: 769px) {
  .chevron {
    width: 15px;
  }
}

.rotated {
  transform: rotate(180deg);
  transition: 0.4s ease-in-out;
}

.about-style {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  .about-style {
    width: 87.5%;
  }
}

.collapse-fiche-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .collapse-fiche-container {
    flex-direction: row;
    gap: 6%;
  }
}

.equipList {
  list-style-type: none;
}

.errorContainer {
  color: #ff6060;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 22px 6%;
}

.errorNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
  margin: 12rem 0 1rem 0;
}
@media screen and (min-width: 769px) {
  .errorNumber {
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    margin: 0;
  }
}

.errorLinkHome, .errorText {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.errorText {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin: 0 11%;
}
@media screen and (min-width: 769px) {
  .errorText {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin: 0;
  }
}

.errorLinkHome {
  text-decoration: none;
  color: #ff6060;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 9rem;
}
@media screen and (min-width: 769px) {
  .errorLinkHome {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
}
.errorLinkHome:hover, .errorLinkHome:focus {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.foot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 209px;
  margin-top: 5%;
  background-color: #000000;
  flex-direction: column;
}
.foot-container__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #FFFFFF;
  width: 100%;
  margin: 4% 0 3% 0;
}
@media screen and (min-width: 769px) {
  .foot-container__text {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
}
.foot-container img {
  margin-top: 2%;
  width: 122px;
  height: 40px;
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}
@media screen and (min-width: 769px) {
  .headerWrap {
    margin: 40px 100px 49px 100px;
  }
}
.headerWrap__fig {
  display: flex;
  align-items: flex-start;
  margin: 0;
  width: 9rem;
}
@media screen and (min-width: 769px) {
  .headerWrap__fig {
    width: 13.2rem;
  }
}
.headerWrap__fig img {
  width: 100%;
}

.host-comp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.hostPicture {
  display: flex;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #c4c4c4;
}
@media screen and (min-width: 769px) {
  .hostPicture {
    width: 64px;
    height: 64px;
  }
}
.hostPicture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.host-name {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 63px;
  height: 66px;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
@media screen and (min-width: 769px) {
  .host-name {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
}

.rate-host-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media screen and (min-width: 769px) {
  .rate-host-container {
    flex-direction: column;
    justify-content: center;
  }
}

.hostInfo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 769px) {
  .hostInfo-container {
    flex-direction: row;
    align-items: flex-end;
  }
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  .nav-header {
    text-transform: none;
  }
}
.nav-header_link-home, .nav-header_link-about {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-align: right;
  line-height: 142.6%;
  color: #ff6060;
  text-decoration: none;
  padding-left: 0.8rem;
}
@media screen and (min-width: 769px) {
  .nav-header_link-home, .nav-header_link-about {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-align: right;
    line-height: 142.6%;
    padding-left: 3.5rem;
  }
}
.nav-header_link-home:hover, .nav-header_link-home:focus, .nav-header_link-about:hover, .nav-header_link-about:focus {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.rate-comp {
  display: flex;
  justify-content: space-between;
  width: 98px;
  height: 18px;
  margin-top: 24px;
}
@media screen and (min-width: 769px) {
  .rate-comp {
    width: 196px;
    height: 36px;
  }
}

.rate-container {
  display: flex;
  align-items: flex-start;
}

.star {
  width: 15px;
  height: 15px;
}
@media screen and (min-width: 769px) {
  .star {
    width: 30px;
    height: 30px;
  }
}

.tagContainer {
  display: flex;
}

.tagButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff6060;
  color: #FFFFFF;
  margin-top: 4%;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  height: 18px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 2px 10px 0 10px;
}
@media screen and (min-width: 769px) {
  .tagButton {
    flex-direction: column;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
}

.title-tags-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-tags-container h1 {
  margin: 2% 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
@media screen and (min-width: 769px) {
  .title-tags-container h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
}
.title-tags-container h3 {
  margin: 2% 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
@media screen and (min-width: 769px) {
  .title-tags-container h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}/*# sourceMappingURL=main.css.map */